@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">Добро пожаловать в PotionCraft</h1>
    <p class="lead">Система для автоматизации рутины при броске костей в игре DnD
        для дополнительных правил гербализма и алхимии.</p>
    
    <div style="max-width: 450px; margin-left: auto; margin-bottom: 30px; font-family: Georgia, serif;">
  <blockquote style="margin: 0; padding: 0; font-style: italic; text-align: left;">
    <p>«РАСКРОЙ ИСТИННЫЙ ПОТЕНЦИАЛ.</p>
    <p>Раус Албрайт был очень умел с растениями и маслами.
        Он знал, как извлечь их истинную силу и создать могущественные смеси.</p>
    <p>Многие пытались создать и украсть эти великолепные отвары, пока он не начал продавать
        свои секреты для массового использования. Сегодня даже самый обычный горожанин может
        создать простой отвар».</p>
  </blockquote>
  <p style="text-align: right; margin-top: 10px; margin-bottom: 0;">
    &mdash; Проф. Клэйтон <i>«Компендиум тайных наук»</i>
  </p>
</div>

    <div class="row mt-5 justify-content-center">
        <div class="col-md-5 mb-3">
            <div class="card h-100 shadow-sm">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Выбрать персонажа</h5>
                    <p class="card-text">Выбрать вашего персонажа.</p>
                    <a asp-page="/Characters/Select" class="btn btn-primary mt-auto">Выбрать</a>
                </div>
            </div>
        </div>
        <div class="col-md-5 mb-3">
            <div class="card h-100 shadow-sm">
                <div class="card-body d-flex flex-column">
                    <h5 class="card-title">Создать персонажа</h5>
                    <p class="card-text">Создайте нового персонажа для бросков.</p>
                    <a asp-page="/Characters/Create" class="btn btn-success mt-auto">Создать</a>
                </div>
            </div>
        </div>
    </div>
</div>
