@page
@model SourceAndIdea
@{
    ViewData["Title"] = "Источник и идея";
}
<h1>@ViewData["Title"]</h1>

<p>Во всём мире есть множество различных форм растительной жизни, морских растений
    и даже земляные субстанции которые вы можете использовать как в боевых ситуациях, так и нет.
    Гербализм - это профессия по сбору подобных ресурсов и
    Алхимия - профессия по извлечению их потенциала и использования продуктов, которые они производят.</p>

<p>Вы можете обнаружить себя гуляющим среди гор только для того,
    что бы найти немного очень редкого Изначального Бальзама,
    который в большинстве случаев может усилить эффект зелья или яда в двое.
    Затем вы можете обнаружить себя одиноко гуляющим среди промозглой тундры
    и благодаря Вашим знаниям Вы можете использовать немого цветов Дракуса.</p>

<p>Будьте осторожны игроки. Растения или ингредиенты,
    каким-то образом стимулируют тело персонажа.
    После сатого их использования наступает долгий период с неприятными для персонажа последствиями.
    Персонаж использующий эти вещества должен быть крайне осторожен и опасаться данных последствий.</p>

<p>Основой для этого приложения послужило Homebrew описанное
    <a href="https://dnd.su/homebrew/articles/homebrew/109-gerbalizm-i-alximiia/"
       target="_blank">тут</a>.</p>